apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: waddlebot

resources:
  - ../../base

images:
  - name: core-video-proxy
    newName: registry-dal2.penguintech.io/waddlebot/core-video-proxy
    newTag: latest
  - name: core-engagement
    newName: registry-dal2.penguintech.io/waddlebot/core-engagement
    newTag: latest
  - name: core-module-rtc
    newName: registry-dal2.penguintech.io/waddlebot/core-module-rtc
    newTag: latest

commonLabels:
  environment: beta

patches:
  # Increase replicas for beta
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: core-module-rtc
